{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <title>{% block page_title %}{% endblock %}</title>
    {% render_bundle 'main' 'css' %}
    {% render_bundle 'vendors' 'js' %}
</head>
<body>
{% include 'includes/header.html' with title=title %}
{% block content %}{% endblock content %}
{% include 'includes/footer.html' %}

<script>
// jQuery is also available here...
$(function() {
    //console.log('Hello World');
})
</script>

{% render_bundle 'main' 'js' %}
</body>
</html>
